@media screen and (max-width: 900px) {
img{
    width: 70%;
}
input{
    padding: 5px;
    width: 50%;
    border-radius: 5px; 
    font-size: 6px;
    font-weight: bold;
}
button{
    width: 100px;  
}
}
@media screen and (max-width: 600px){
    #div2 ,#div3 ,#div4{
        padding: 4%;
}}
@media screen and (max-width: 400px){
    #div2 ,#div3 ,#div4{
        padding: 0%;
}}
.container-fluid{
    height: 635px;
}
body{
    font-family: 'Tajawal', sans-serif;
    max-width: 100vw;
    max-height: 100vh;
}
.log{
    height: 635px;
}
#div1{
    height: 100vh;
    background-color:#fbfafa;
    float: left; 
    padding-top: 125px;
    padding-right: 70px;
    padding-left: 80px;
}
#div{
    height: 400px;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex; 
}
#div2{
    height: 100vh;
    padding-right: 120px;
}
#div3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:80%;
    padding: 20px;
    padding-top: 25px; 
}
#div4{
    width:80%;
    padding: 20px;
}
h3{
    color: rgb(32, 2, 53);
    padding-bottom: 10px;
}
h4{
    color: rgb(66, 3, 107);
}
label{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    color: rgb(66, 1, 109);
    margin-bottom: 3%;
}
a{
    font-size:18px;
    text-transform:capitalize;
    text-decoration:none;
    color: rgb(175, 80, 238);
}
input{
    padding: 10px;
    width: 100%;
    border:1px solid #f3f2f2;
    background-color: #f3f2f2;
    border-radius: 5px; 
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 3%;
}
button{
    background-color: rgb(150, 52, 216);
    width: 155px;
    padding: 7px;
    margin-top: 2%;
    font-size: 17px;
    border: 3px solid rgb(150, 52, 216);
    color: #ffffff;
    font-weight: bold;
    border-radius: 10px;    
}
button:hover{
    background-color: rgb(173, 82, 233);
}
#footer{
    color:rgb(32, 2, 53);
    margin-top: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
}